<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="headerWrap">
    <div class="container">
      <div class="logo">
        <a routerLink="/pocetna"><img src="../../assets/images/evoTiFilm/logo.jpg" alt=""></a>
      </div>
      <div class="links">
        <ul>
          <li><a routerLink="/vesti">Filmovi</a></li>
          <li><a routerLink="/recenzije">Recenzije</a></li>
          <li><a routerLink="/vesti">Vesti</a></li>
          <li><a routerLink="/video">Video</a></li>          
        </ul>
      </div>
    </div>
</div>

