<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="social">
  <ul>
    <li><button><i class="fa fa-facebook" aria-hidden="true"></i></button></li>
    <li><button><i class="fa fa-twitter" aria-hidden="true"></i></button></li>
    <li><button><i class="fa fa-youtube-play" aria-hidden="true"></i></button></li>
    <li><button><i class="fa fa-instagram" aria-hidden="true"></i></button></li>    
  </ul>
</div>
