<div class="wrap">
  <div class="container">
    <div class="innerWrap">
      <div *ngFor="let art of article; let i = index" class="repeat">
        <div class="imgWrap">
          <a [routerLink]="startingData[1] + '/' + article[i].title"><img src="{{ article[i].imgUrl }}" alt=""></a>
        </div>
        <div class="textWrap">
          <a [routerLink]="startingData[1] + '/' + article[i].title"><h4>{{ article[i].title }}</h4></a>
          <a [routerLink]="startingData[1] + '/' + article[i].title"><p>{{ article[i].description.substring(0, 50) }}</p></a>
        </div>
      </div>
            <div class="btn">
              <button routerLink="{{ startingData[1] }}">{{ startingData[0] }}</button>
            </div>
    </div>
  </div>
</div>
