<div class="mainWrapper">
    <div class="container">
        <div class="wrapper">
            <div (click)="cardClicked(toDisplay[i])" *ngFor="let videos of toDisplay; let i = index" class="cardWrap">
              <div class="imgWrap">
                <img src="{{ toDisplay[i].img }}" alt="">  
                <i class="fa fa-play-circle" aria-hidden="true"></i>      
              </div>
              <div class="desc">
                <a><h4>{{ toDisplay[i].title }}</h4></a>
                <p>{{ toDisplay[i].description.substring(0, 35) }}</p>
                <p class="date">01. 03. 2017</p>
              </div>
            </div>
        </div>
      </div>
</div>

