<div class="wrap">
  <div class="container">
      <div class="innerWrap">
        <div class="imgWarp">
          <a href=""><img src="assets/images/evoTiFilm/16.jpg" alt=""></a>        
        </div>
        <div class="textWrap">
          <a href=""><h2>Title</h2></a>
          <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ab est tenetur id nam commodi inventore eveniet laudantium, perferendis odio?</p></a>
        </div>
        <div class="btn">
          <button>Vesti</button>
        </div>
      </div>
  </div>    
</div>

