<div class="wrap">
  <div class="container">
    <div class="innerWrap">
        <div class="repeat">
            <div class="imgWrap">
              <img class="image" src="assets/images/evoTiFilm/1.jpg" alt="">
              <div class="middle">
                <div class="text"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="textWrap">
              <a href=""><h4>Naslov</h4></a>
              <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe suscipit qui reprehenderit rerum odit.</p></a>
            </div>
          </div>
          <div class="repeat">
            <div class="imgWrap">
              <img class="image" src="assets/images/evoTiFilm/1.jpg" alt="">
              <div class="middle">
                <div class="text"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="textWrap">
              <a href=""><h4>Naslov</h4></a>
              <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe suscipit qui reprehenderit rerum odit.</p></a>
            </div>
          </div>
          <div class="repeat">
            <div class="imgWrap">
              <img class="image" src="assets/images/evoTiFilm/1.jpg" alt="">
              <div class="middle">
                <div class="text"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="textWrap">
              <a href=""><h4>Naslov</h4></a>
              <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe suscipit qui reprehenderit rerum odit.</p></a>
            </div>
          </div>
        
              <div class="btn">
                <button routerLink="/video">Trejleri</button>
              </div>
    </div>
  </div>
</div>

